<!DOCTYPE html>
<html>

<head>
    <title>骑迹在线</title>
    <link rel="stylesheet" href="css/index.css">
    <style>
        .mobile {
            color: brown;
            font-size: 17px;
        }
    </style>
</head>

<body>
    <div class="contaner">

        <%- include('./common/header.ejs', { nickname: nickname, is_admin: is_admin,username:username }) %>

        <div class="main">

            <%- include('./common/main.ejs', {is_admin: is_admin }) %>

            <div class="main-right">

                <button  class="addmobile"> 新增手机</button>
                <form action="mobile/add" method="POST" enctype="multipart/form-data" id="addform">
                    <div class="col-sm-9">
                        <label class="col-sm-3">手机名称</label>
                        <input type="text" name="mobilename" class="form-control " placeholder="请输入手机名">
                    </div>
                    <div class="col-sm-9">
                        <label class="col-sm-3">所属品牌</label>
                        <select style="width: 203px;height: 55px; border-radius: 5px;padding-left: 10px;" name="mobileplate" id="brandname">
                        </select>
                     </div>
                    <div class="col-sm-9">
                        <label class="col-sm-3">官方指导价</label>
                        <input type="text" name="mobilemoney" class="form-control" placeholder="请输入官方指导价">
                    </div>
                
                    <div class="col-sm-9">
                         <label class="col-sm-3">二手回收价</label>
                        <input type="text" name="mobileprice" class="form-control" placeholder="请输入二手回收价">
                    </div>
                
                    <div>
                        <label class="col-sm-3">手机图片</label>
                        <input type="file" name="mobile" placeholder="请上传图片">
                    </div>

                    <div class="col-sm-9">
                        <input type="submit" class="btn-default " value="新增">
                        <input type="button" value="取消" class="addnone">
                    </div>
                </form>

                <p>输出手机信息</p>
                <table border="1">
                    <thead>
                        <tr>
                            <th>序号</th>
                            <th>图片</th>
                            <th>手机名称</th>
                            <th>所属品牌</th>
                            <th>官方指导价</th>
                            <th>二手回收价</th>
                            <th>操作</th>
                        </tr>
                    </thead>
                    <tbody id="table" > 
                        <% for(var i = 0; i< userList.length; i++){ %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td style="padding:0"><img src=" <%= userList[i].mobileurl %>" width="90px"></td>
                                <td><%= userList[i].mobilename %></td>
                                <td><%= userList[i].mobileplate %></td>
                                <td><%= userList[i].mobilemoney %></td>
                                <td><%= userList[i].mobileprice %></td>
                                <td>
                                    <button class="xiugai" >修改</button>
                                    <a href="/mobile/mobileshangchu?shangchu=<%= userList[i].mobilename %>">删除</a>
                                </td>
                            </tr>
                         <% }%>
                    </tbody>
                    
                </table>
                <ul>
                    <li>
                        <% for(var i = 0; i < totalPage; i++ ){%>
                            <a href="/mobile-manager?page=<%= i+1 %>"><%= i+1 %>页</a>
                        <% }%>
                    </li>
                </ul>
                <!-- 修改手机信息 -->
                <form action="mobile/mobilexiugai" method="POST" enctype="multipart/form-data" class="changeform">
                    <!-- <h2>修改</h2> -->
                    <div class="xiugaidiv">
                        <span>手机名称:</span>
                        <input type="text" disabled class="mobilename">
                        <input type="text" name="mobilename" class="mobilename nofind "   ><!--style="opacity:0"  -->
                    </div>
                    <div class="xiugaidiv">
                        <span>官方指导价:</span>
                        <input type="text" name="mobilemoney" class="mobileplate">
                    </div>
                    <div class="xiugaidiv">
                        <span>二手回收价:</span>
                        <input type="text" name="mobileprice" class="mobilemoney">
                    </div>
                    <div class="sex">
                        <span>图片:</span>
                        <input type="file" name="mobile" placeholder="请上传图片">
                    </div>
                    <div class="xiugaidiv">
                        <input type="submit" value="确认修改" class="submit">
                        <input type="button" value="取消" class="button">
                    </div>
                
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script src="jquery/jquery.js"></script>
<script>
    $('#table').delegate('.xiugai', 'click', function () {
        $('.mobilename').val($(this).parent().parent('tr').find('td').eq(2).html());
        $('.mobileplate').val($(this).parent().parent('tr').find('td').eq(4).html());
        $('.mobilemoney').val($(this).parent().parent('tr').find('td').eq(5).html());
        $('.changeform').slideDown();
    });
    $('.submit').click(function () {
        $(".changeform").slideUp();
    })
    $('.button').click(function () {
        $(".changeform").slideUp();
    })

    //让新增手机输入框消失
    $('.addmobile').click(function (params) {
        var str = '';
        $.get('/mobile/findbrand', function (result) {
            console.log(result);
            for (let i = 0; i < result.length; i++) {
                str+=`
                <option>${result[i].brandname}</option>
                `
            }
            $('#brandname').html(str);
        })
        $('#addform').slideDown();
    })
     $('.btn-default').click(function () {
        $("#addform").slideUp();
    })
    $('.addnone').click(function () {
        $("#addform").slideUp();
    })

</script>